@use "./shared" as s;

main#main {
    display: flex;
    position: relative;
    div.taskContainer {width: 100%;}
    overflow: hidden visible;

    &.menuIsNotActive {
        div.taskContainer {
            width: 100vw;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        aside {
            transform: translateX(-100%);
        }   
    }

    aside {
        width: clamp(265px,40vw,375px);
        background-color: s.$gray;
        padding: 2rem 1.5rem ;
        @include s.flexColoumn;
        gap: 25px;
        height: 100%;
        z-index: 1;

        // sidebar stuff
        ul.primarySelectors {
            @include s.flexColoumn;
            gap: 8px;

            li  {
            padding: 8px;
            border-radius: s.$borderRadius;
            font-size:1.2rem ;
            @include s.sidebarTitles
            }
        }

        div.projectsSelector {
            div.projectsTitle {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 10px;

                &.active > .fa-solid{
                    transition: 0.2s ease-in-out;
                    transform: rotate(180deg);        
                }
                padding: 8px;
                border-radius: s.$borderRadius;
                font-size:1.2rem ;
                @include s.sidebarTitles
            }
        }

        div.dropDown {
            > * {margin-left: 30px;}
            button.addProject {
                @include s.mainAddButton;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }

            }  
        }
    }

    @media only screen and (max-width:768px) { //tablet size
        aside {
            transition: linear 0.3s;
            padding: 2rem 1rem ;
            position: absolute;
            width: clamp(255px,65vw,450px);
        }
    }
}

