$theme : #AE3932;
$white :#eEebeb;
$gray : #e3e3e3;
$green: #3ba395;

$borderRadius : 4px;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColoumn {
    display: flex;
    flex-direction: column;
}

@mixin sidebarTitles {
    > div {
        display: flex;
        align-items: center;
        gap:10px
    }

    &:hover {
        background-color: rgba($white, 1);
        cursor: pointer;
    }
}

@mixin mainAddButton {
    background-color: inherit;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    gap: 10px;
}