@use "./shared" as s;

div.taskContainer {
    display: flex;
    justify-content: center;
    div.taskWrapper {
        flex: 1;
        max-width: 80%;

        @include s.flexColoumn;
        gap: 10px;
        h2.selectionTitle {
            margin: 2rem 0 0;
        }

        button.addTask {
            align-self: flex-start;
            border: none;
            font-size: 1rem;
            color: gray;
            cursor: pointer;

            i{
                color: s.$theme;
                margin-right: .5rem;
            }

        }
        div.tasks {
            .task {
                display: flex;
                align-items: center;
                gap:0.8em;
                padding: 0.7em 0 0.7em;
                border-bottom: 1px solid;
                border-color: s.$gray;
                position: relative;
                
                transition: transform 250ms ease-in;


                &.completed {

                    &::after{
                        content: "";
                        position: absolute;
                        left: 1.8rem;
                        height: 10px;
                        width:calc(100% - 1.8rem);
                        height: 2px;
                        background-color: black;
                    }

                    .fa-square{
                        background-color: currentColor;
                        margin-right: 1px;
                        height: 14px;
                        width: 13px;
                        border-radius: 3px;
                        position: relative;
                        &::after {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            content: " ";
                            height: 100%;
                            width: 100%;
                            // background-color: currentColor;
                            border-radius:3px ;
                            background-image: url(https://bscottnz.github.io/todo/img/check.png);
                            background-repeat: no-repeat;
                            background-size:contain ;
                        }
                    }   
                }
                &.low{
                    i:first-child{color: s.$green;}
                    .taskDetails{
                        border-color: s.$green;
                        &:hover {background-color: s.$green;}
                    }
                }
                &.medium{
                    i:first-child{color: orange;}
                    .taskDetails{
                        border-color: orange;
                        &:hover {background-color: orange}
                    }
                }
                &.high{
                    i:first-child{color: s.$theme;}
                    .taskDetails{
                        border-color: s.$theme;
                        &:hover {background-color:s.$theme}
                    }
                }
                &.none{
                    i:first-child{color: black;}
                    .taskDetails{
                        border-color: black;
                        &:hover {background-color:black}
                    }
                }

                i {
                    transition: inherit;                    
                    &:hover {cursor: pointer;}
                    &.edit:hover{color: s.$green;}
                    &.bin:hover{color: s.$theme;}
                }



                div { //for text being centered
                    &.taskTitle {
                        transform: translateY(-1px);
                        margin-right: auto;
                        white-space: nowrap;
                        text-overflow:ellipsis ;
                        overflow: hidden ;
                        position: relative;
                    }

                    &.taskDate{
                        min-width: 64px;
                        text-align: center;
                    }
                }

                button.taskDetails {
                    border: solid 2px;
                    padding: 1.5px 5px;
                    border-radius: s.$borderRadius;
                    transition: inherit;
                    

                    &:hover {
                        cursor: pointer;
                        color:white ;
                    }
                }        
            }
        }

        @media only screen and (max-width:560px) {
            .tasks {
                font-size: 0.7rem;
            }

            button.taskDetails {
                font-size: 0.7em;
            }
        }
    }
}