*::after, *::before, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(238, 235, 235, 0.8);
}
body ul,
body li {
  text-decoration: none;
  list-style-type: none;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #AE3932;
  padding: 10px 0;
  grid-area: header;
}
header nav {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 40px;
}
header nav .menuIcon {
  color: #eEebeb;
  transform: scale(1.1);
}
header nav .menuIcon:hover {
  cursor: pointer;
}
header nav .searchContainer {
  display: flex;
  gap: 5px;
  padding: 2px;
  border-radius: 4px;
  background-color: rgba(235, 235, 235, 0.4);
  color: #eEebeb;
}
header nav .searchContainer label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header nav .searchContainer label span {
  transform: scale(0.8);
}
header nav .searchContainer input {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
}
header nav .searchContainer input::placeholder {
  color: inherit;
  opacity: 1;
}
header nav .searchContainer input::-webkit-search-decoration, header nav .searchContainer input::-webkit-search-cancel-button, header nav .searchContainer input::-webkit-search-results-button, header nav .searchContainer input::-webkit-search-results-decoration {
  display: none;
}

main#main {
  display: flex;
  position: relative;
  overflow: hidden visible;
}
main#main div.taskContainer {
  width: 100%;
}
main#main.menuIsNotActive div.taskContainer {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
main#main.menuIsNotActive aside {
  transform: translateX(-100%);
}
main#main aside {
  width: clamp(265px, 40vw, 375px);
  background-color: #e3e3e3;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 100%;
  z-index: 1;
}
main#main aside ul.primarySelectors {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main#main aside ul.primarySelectors li {
  padding: 8px;
  border-radius: 4px;
  font-size: 1.2rem;
}
main#main aside ul.primarySelectors li > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
main#main aside ul.primarySelectors li:hover {
  background-color: #eeebeb;
  cursor: pointer;
}
main#main aside div.projectsSelector div.projectsTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 4px;
  font-size: 1.2rem;
}
main#main aside div.projectsSelector div.projectsTitle.active > .fa-solid {
  transition: 0.2s ease-in-out;
  transform: rotate(180deg);
}
main#main aside div.projectsSelector div.projectsTitle > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
main#main aside div.projectsSelector div.projectsTitle:hover {
  background-color: #eeebeb;
  cursor: pointer;
}
main#main aside div.projectsSelector div.dropDown {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 200px;
}
main#main aside div.projectsSelector div.dropDown > * {
  margin-left: 25px;
}
main#main aside div.projectsSelector div.dropDown button.addProject {
  margin-left: 30px;
  background-color: inherit;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: gray;
}
main#main aside div.projectsSelector div.dropDown button.addProject i {
  margin-right: 0.4rem;
  color: #AE3932;
}
main#main aside div.projectsSelector div.dropDown button.addProject:hover {
  cursor: pointer;
}
main#main aside div.projectsSelector div.dropDown .projects {
  display: flex;
  flex-direction: column;
}
main#main aside div.projectsSelector div.dropDown .projects .project {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  padding: 0.3rem;
}
main#main aside div.projectsSelector div.dropDown .projects .project:hover {
  background-color: #eeebeb;
  cursor: pointer;
}
main#main aside div.projectsSelector div.dropDown .projects .project:hover i:last-child {
  visibility: visible;
}
main#main aside div.projectsSelector div.dropDown .projects .project .projectTitle {
  transform: translateY(-3px);
}
main#main aside div.projectsSelector div.dropDown .projects .project .taskCounter {
  color: gray;
  font-size: 0.7rem;
  transform: translateY(-2px);
}
main#main aside div.projectsSelector div.dropDown .projects .project .taskCounter::before {
  content: " ";
}
main#main aside div.projectsSelector div.dropDown .projects .project i {
  font-size: 0.8rem;
}
main#main aside div.projectsSelector div.dropDown .projects .project i:first-child {
  margin-right: 0.4rem;
}
main#main aside div.projectsSelector div.dropDown .projects .project i:last-child {
  margin-right: 5px;
  margin-left: auto;
  visibility: hidden;
}
main#main aside div.projectsSelector div.dropDown .projects .project i:last-child:hover {
  color: #AE3932;
}
@media only screen and (max-width: 768px) {
  main#main aside {
    transition: linear 0.15s;
    padding: 2rem 1rem;
    position: absolute;
    width: clamp(255px, 65vw, 450px);
  }
}

div.taskContainer {
  display: flex;
  justify-content: center;
}
div.taskContainer div.taskWrapper {
  flex: 1;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
div.taskContainer div.taskWrapper h2.selectionTitle {
  margin: 2rem 0 0;
}
div.taskContainer div.taskWrapper button.addTask {
  align-self: flex-start;
  border: none;
  font-size: 1rem;
  color: gray;
  cursor: pointer;
}
div.taskContainer div.taskWrapper button.addTask i {
  color: #AE3932;
  margin-right: 0.5rem;
}
div.taskContainer div.taskWrapper div.tasks .task {
  display: flex;
  align-items: center;
  gap: 0.8em;
  padding: 0.7em 0 0.7em;
  border-bottom: 1px solid;
  border-color: #e3e3e3;
}
div.taskContainer div.taskWrapper div.tasks .task i {
  transition: inherit;
}
div.taskContainer div.taskWrapper div.tasks .task i:hover {
  cursor: pointer;
}
div.taskContainer div.taskWrapper div.tasks .task i.edit:hover {
  color: #3ba395;
}
div.taskContainer div.taskWrapper div.tasks .task i.bin:hover {
  color: #AE3932;
}
div.taskContainer div.taskWrapper div.tasks .task i:first-child.high {
  color: #AE3932;
}
div.taskContainer div.taskWrapper div.tasks .task i:first-child.middle {
  color: orange;
}
div.taskContainer div.taskWrapper div.tasks .task i:first-child.low {
  color: #3ba395;
}
div.taskContainer div.taskWrapper div.tasks .task div.taskTitle {
  transform: translateY(-1px);
  margin-right: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}
div.taskContainer div.taskWrapper div.tasks .task button.taskDetails {
  border: #3ba395 solid 2px;
  padding: 1.5px 5px;
  border-radius: 4px;
  transition: inherit;
}
div.taskContainer div.taskWrapper div.tasks .task button.taskDetails:hover {
  cursor: pointer;
  background-color: #3ba395;
  color: white;
}
@media only screen and (max-width: 560px) {
  div.taskContainer div.taskWrapper .tasks {
    font-size: 0.7rem;
  }
  div.taskContainer div.taskWrapper button.taskDetails {
    font-size: 0.7em;
  }
}

div#modalBackground {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
div#modalBackground .modal {
  z-index: 3;
  background-color: #eEebeb;
  border-radius: 4px;
  max-width: 800px;
  width: 85%;
}
div#modalBackground .modal .modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  border-bottom: 1px gray solid;
  padding: 1rem;
}
div#modalBackground .modal .modalHeader i {
  font-size: 1rem;
}
div#modalBackground .modal .modalHeader i:hover {
  color: #AE3932;
  cursor: pointer;
}
div#modalBackground .modal form {
  padding: 1rem;
}
div#modalBackground .modal form input,
div#modalBackground .modal form textarea,
div#modalBackground .modal form select {
  border: 1px solid gray;
  border-radius: 4px;
  background-color: inherit;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
}
div#modalBackground .modal form input[type=datetime-local],
div#modalBackground .modal form textarea[type=datetime-local],
div#modalBackground .modal form select[type=datetime-local] {
  font-size: 0.95rem;
}
div#modalBackground .modal form button.modalBtn {
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  border: 1px solid;
  cursor: pointer;
  background-color: #eEebeb;
}
div#modalBackground .modal form button.modalBtn.addModalBtn:hover {
  background-color: #28a745;
  color: #eEebeb;
}
div#modalBackground .modal form button.modalBtn.cancelModalBtn:hover {
  background-color: #AE3932;
  color: #eEebeb;
}
div#modalBackground .modal form textarea {
  height: calc(7rem + 3px);
  resize: none;
  width: auto;
}
div#modalBackground .modal form label {
  margin-bottom: 0.6rem;
}
div#modalBackground form.taskCreationForm {
  display: grid;
  grid-template: "top1 top2" auto "bottom bottom" auto/1fr 1fr;
  gap: 15px;
}
div#modalBackground form.taskCreationForm .taskDetails1 {
  grid-area: top1;
  display: flex;
  flex-direction: column;
}
div#modalBackground form.taskCreationForm .taskDetails2 {
  grid-area: top2;
  display: flex;
  flex-direction: column;
}
div#modalBackground form.taskCreationForm input,
div#modalBackground form.taskCreationForm select {
  margin-bottom: 0.54rem;
}
div#modalBackground form.taskCreationForm .taskCreationDecision {
  grid-area: bottom;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
@media only screen and (max-width: 768px) {
  div#modalBackground form.taskCreationForm {
    display: flex;
    flex-direction: column;
  }
}

div.projectCreator {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
div.projectCreator div:first-child {
  display: flex;
  flex-direction: column;
  color: #AE3932;
  font-size: 0.8rem;
}
div.projectCreator div:last-child button {
  font-size: 0.7rem;
  padding: 0.4rem 0.75rem;
  border-radius: 4px;
  border: 1px solid gray;
  cursor: pointer;
  background-color: inherit;
}
div.projectCreator div:last-child button:first-child:hover {
  background-color: #AE3932;
  border: 1px solid #AE3932;
  color: #eEebeb;
}
div.projectCreator div:last-child button:last-child:hover {
  background-color: #28a745;
  border: 1px solid #28a745;
  color: #eEebeb;
}
div.projectCreator input {
  width: 100%;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: inherit;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  outline: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 7px 0;
  background-color: #AE3932;
  z-index: 1;
}
footer a {
  color: black;
}
footer a:hover {
  cursor: pointer;
  transform: rotate(360deg) scale(1.2);
}
footer a > i {
  transform: scale(1.3);
}

/*# sourceMappingURL=main.css.map */
